/* Common shared style */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 40px;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

}

.primary-btn:hover {
    border-radius: 8px;
    background: #000000;
    padding: 20px 40px;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;

}


/* Banner section style start here */

.sup-header {

    height: 550px;
    background: rgba(229, 84, 115, 0.10);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.banner-title {
    color: #272727;
    width: 708px;
    font-size: 40px;
    font-weight: 800;

}

.banner-description {

    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 10px 0px;
}

.banner-flower {
    width: 400px;
    height: 551px;

}

/* Main container style start here */

.feature-container {
    margin-top: 100px;
    text-align: center;
}

.feature-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;

}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin: 0 auto;
    padding-bottom: 48px;

}

.feature-card {
    width: 350px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    position: relative;
}

.feature-card-2 {
    width: 350px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    position: relative;
    background: rgba(5, 151, 160, 0.15);
}

.feature-card-3 {
    width: 350px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    position: relative;
    background: rgba(71, 125, 17, 0.15);
}

.feature-card-img {
    width: 310px;
    height: 300px;
    position: absolute;
    bottom: 0px;
    left: 30px;
}

.feature-cards {
    display: flex;
    justify-content: space-around;
}

.feature-more-text {
    display: flex;
    justify-content: space-around;
    padding: 30px 0px 0px 0px;
    text-decoration: underline;
}

/* support style start here */

.support-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 80%;
    height: 250px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;

}

.supports-ways {
    text-align: center;
}

.support-desc {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 5px;
}

/* Offer container start here */

.offer-container {
    height: 350px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    text-align: center;
    position: relative;
}

.offer-title {
    color: #272727;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 10px;

}

.offer-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    padding-bottom: 10px;
}

.off-img {
    width: 318px;
    height: 300px;
}